# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# App build
beaver

# Ignore vendor and run dep ensure
vendor

config.prod.yml
config.dev.yml
config.test.yml
coverage.html
cover.out

dist
