        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }

        #chat-messages {
            min-height: 10vh;
            height: 60vh;
            width: 100%;
            overflow-y: scroll;
        }